html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
    .header-area .slicknav_btn {
        top: -108px;
    }
}


.nice-select {
    display: flex;
    align-items: center;
}