@model JobsFinds.Models.Job

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}

<h1>Edit</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="PostingDate" class="control-label"></label>
                <input asp-for="PostingDate" class="form-control" />
                <span asp-validation-for="PostingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastDate" class="control-label"></label>
                <input asp-for="LastDate" class="form-control" />
                <span asp-validation-for="LastDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryRange" class="control-label"></label>
                <input asp-for="SalaryRange" class="form-control" />
                <span asp-validation-for="SalaryRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AverageYearlySalary" class="control-label"></label>
                <input asp-for="AverageYearlySalary" class="form-control" />
                <span asp-validation-for="AverageYearlySalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobNature" class="control-label"></label>
                <input asp-for="JobNature" class="form-control" />
                <span asp-validation-for="JobNature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vacancy" class="control-label"></label>
                <input asp-for="Vacancy" class="form-control" />
                <span asp-validation-for="Vacancy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkCondition" class="control-label"></label>
                <input asp-for="WorkCondition" class="form-control" />
                <span asp-validation-for="WorkCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkTime" class="control-label"></label>
                <input asp-for="WorkTime" class="form-control" />
                <span asp-validation-for="WorkTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ApplyLink" class="control-label"></label>
                <input asp-for="ApplyLink" class="form-control" />
                <span asp-validation-for="ApplyLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdLink" class="control-label"></label>
                <input asp-for="AdLink" class="form-control" />
                <span asp-validation-for="AdLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea id="editor" asp-for="Description" class="editor"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-center mt-4 mb-4">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script src="~/tinymce/tiny.js"></script>
<script>
    var useDarkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;

    const editorData = `@{Write(Model?.Description);}`;

    console.log(editorData);

    window.tinymce.init({
        selector: "textarea#editor",
        plugins: "print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons",
        imagetools_cors_hosts: ["picsum.photos"],
        menubar: "file edit view insert format tools table help",
        toolbar: "undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl",
        toolbar_sticky: true,
        convert_urls: false,
        autosave_ask_before_unload: true,
        autosave_interval: "30s",
        autosave_prefix: "{path}{query}-{id}-",
        autosave_restore_when_empty: false,
        autosave_retention: "2m",
        image_advtab: true,
        automatic_uploads: false,
        font_formats: "Inter=Inter, sans-serif;",
        fontsize_formats: "8px 9px 10px 11px 12px 14px 18px 24px 30px 36px 48px 60px 72px 96px",
        link_list: [{
                title: "My page 1",
                value: "https://www.tiny.cloud"
            },
            {
                title: "My page 2",
                value: "http://www.moxiecode.com"
            },
        ],
        image_list: [{
                title: "My page 1",
                value: "https://www.tiny.cloud"
            },
            {
                title: "My page 2",
                value: "http://www.moxiecode.com"
            },
        ],
        image_class_list: [{
                title: "None",
                value: ""
            },
            {
                title: "Some class",
                value: "class-name"
            },
        ],
        importcss_append: true,
        file_picker_callback: function(callback, value, meta) {
            /* Provide file and text for the link dialog */
            if (meta.filetype === "file") {
                callback("https://www.google.com/logos/google.jpg", {
                    text: "My text",
                });
            }

            /* Provide image and alt text for the image dialog */
            if (meta.filetype === "image") {
                callback("https://www.google.com/logos/google.jpg", {
                    alt: "My alt text",
                });
            }

            /* Provide alternative source and posted for the media dialog */
            if (meta.filetype === "media") {
                callback("movie.mp4", {
                    source2: "alt.ogg",
                    poster: "https://www.google.com/logos/google.jpg",
                });
            }
        },
        setup: function(editor) {
            editor.on('init', function(e) {

            });
        },
        templates: [{
                title: "New Table",
                description: "creates a new table",
                content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>',
            },
            {
                title: "Starting my story",
                description: "A cure for writers block",
                content: "Once upon a time...",
            },
            {
                title: "New list with dates",
                description: "New List with dates",
                content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>',
            },
        ],
        template_cdate_format: "[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]",
        template_mdate_format: "[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]",
        height: 600,
        image_caption: true,
        quickbars_selection_toolbar: "bold italic | quicklink h2 h3 blockquote quickimage quicktable",
        noneditable_noneditable_class: "mceNonEditable",
        toolbar_mode: "sliding",
        contextmenu: "link image imagetools table",
        skin: useDarkMode ? "oxide-dark" : "oxide",
    });
</script>

}
